$bg: rgb(43, 43, 43);

body {
  background-color: $bg;
  overflow: hidden;
}

#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.location {
  position: absolute;
  transition: all 0.3s;
}

.location:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.location:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}