$bg: rgb(43, 43, 43);

body {
  background-color: $bg;
  overflow: hidden;
}

#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.location {
  position: absolute;
  transition: all 0.3s;
}

.location:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.location:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.5);
}

.tooltip{
  opacity: 0;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 15px;

  /* Position the tooltip */
  position: fixed;
  z-index: 1;
  transition: all 0.3s;
}

.location:hover .tooltip {
  opacity: 1;
}